EXPO_PUBLIC_POLYGON_RPC_URL=https://polygon-rpc.com
EXPO_PUBLIC_ERC4337_GATEWAY_URL=https://api.exemplo.com
EXPO_PUBLIC_ERC4337_ENTRY_POINT=0x0000000071727De22E5E9d8BAf0edAc6f37da032
EXPO_PUBLIC_ERC4337_SIMPLE_ACCOUNT_FACTORY=
EXPO_PUBLIC_FIAT_GATEWAY_URL=https://api.exemplo.com
